# docker platform (linux/amd64 for x86 or linux/arm64 for ARM)
PLATFORM=linux/amd64

# PostgreSQL settings
POSTGRES_DB_NAME=your-db-name
POSTGRES_USERNAME=your-db-user
POSTGRES_PASSWORD=your-db-password
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DEBUG=false
POSTGRES_SSL=false
POSTGRES_URL=your-db-url-optional

# pg_bouncer settings
POSTGRES_BOUNCER_USE=true
POSTGRES_BOUNCER_HOST=pgbouncer
POSTGRES_BOUNCER_PORT=6432

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=your-redis-url-optional

# Telegram API Cloud (my.telegram.org)
TELEGRAM_API_ID=your-api-id
TELEGRAM_API_HASH=your-api-hash
TELEGRAM_WORKDIR=/app/sessions/

# LLM settings
LLM_NAME=your-ai-name
LLM_BASE_URL=your-ai-base-url
LLM_API_KEY=your-ai-api-key
LLM_MODEL=your-ai-model

# flask settings
FLASK_TEMPLATES_DIR=/app/templates

# docker settings
DOCKER_DOMAIN=your-domain
DOCKER_WORK_PATH=your-path-to-source-code-directory-on-your-server
DOCKER_DIR_BOTS=bots
DOCKER_NETWORK=bot_network

# admin settings
ADMIN_USERNAME=your-manager-admin-username
ADMIN_PASSWORD_HASH=your-manager-admin-password-hash
ADMIN_SECRET_KEY=your-manager-admin-secret-key
