__pycache__/
.ruff_cache/
.mypy_cache/
wsl2win/
shared_downloads/
src/bots/*
backup/
_env/
.venv/
.env
.flake8
.pylintrc
.mypy.ini
*.log
*.dat
build_central.json
*.service
*.local.txt
*.backup
*.sql
