alembic
psycopg2-binary
asyncpg
redis
flask[async]
flask-login
dishka
adaptix
dature
uvicorn
pydantic>=2.0.0
pydantic[email]
pydantic-settings
SQLAlchemy>=2.0.0
aiohttp
requests
descanso
fake_useragent
beautifulsoup4
lxml
aiodocker
aiofiles
aiogram>=3.10.0
aiogram-dialog>=2.1.0
pyrogram>=2.0.0
tgcrypto
openai
geopy
shapely
pyproj
unstructured
python-dotenv
barsik[all] @ git+https://github.com/DollaR84/barsik.git
