alembic
psycopg2-binary
asyncpg
redis
flask
flask-login
dishka
adaptix
dature
uvicorn
pydantic
pydantic[email]
pydantic-settings
SQLAlchemy
aiohttp
requests
descanso
fake_useragent
beautifulsoup4
lxml
aiodocker
aiofiles
aiogram
aiogram-dialog
pyrogram
tgcrypto
openai
geopy
shapely
pyproj
unstructured
python-dotenv
barsik[all] @ git+https://github.com/DollaR84/barsik.git
